
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/listad/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return iframeCallback(this, navTabAjaxDone);"  enctype="multipart/form-data"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="ad_id" value="{$vo.ad_id}"/>
		<input type="hidden" name="old_img" value="{$vo.index_sale_img}"/>
		<div class="pageFormContent" layoutH="60">
			<!-- <dl>
				<dt>广告ID:</dt>
				<dd><input type="text" style="width:100%" name="ad_id" value="{$vo.ad_id}"/></dd>
			</dl> -->
			
			
			<dl>
				<dt>图片2:</dt>
				<dd><input type="file"  style="width:100%" name="index_sale_img" value=""/></dd>
			</dl>
			
			
			
			
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

