
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/listadmin/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="admin_id" value="{$vo.admin_id}"/>
		<div class="pageFormContent" layoutH="60">
			
			<dl>
			<dt>管理员id:</dt>
				<dd><input type="text"   style="width:100%" name="admin_id" value="{$vo.admin_id}"  readonly></dd>
			</dl>
			<dl>
				<dt>管理员姓名:</dt>
				<dd><input type="text" class="required"  style="width:100%" name="admin_name" value="{$vo.admin_name}"/></dd>
			</dl>
			<dl>
				<dt>密码:</dt>
				<dd><input type="password"   style="width:100%" name="admin_pwd" id="pwd"/></dd>
			</dl>
			
			<dl>
				<dt>重置密码:</dt>
				<dd><input type="password"   style="width:100%" name="admin_pwd"  equalto="#pwd"/></dd>
			</dl>
			
			<p>
			<label>是否锁定：</label>
		   <select class="combox required" name="admin_lock" id="w_combox_city" ref="w_combox_area" >
		       <if condition="$vo.admin_lock eq 0">
		           <option value="0" selected>可登陆</option>
				 <else/>
				  <option value="0" >可登陆</option>
				</if>
				<if condition="$vo.admin_lock eq 1">
		           <option value="1" selected>不可登陆</option>
				 <else/>
				  <option value="1" >不可登陆</option>
				</if>
			   
			   
	      </select>
          </p>
			<div class="divider"></div>
		 
		
			 
		    
			  <table>
				   <caption><b>角色选择：</b></caption>
				   <volist name='role_data' id='role' >
				     
				   <tr>
				     <td>
					 <in name="role.role_id" value="$role_id_data">
					 <label><input type="checkbox"   style="width:20%" name="role_id[]" value="{$role.role_id}" checked>{$role.role_name}
					 </label>
					 <else/>
					   <label><input type="checkbox"   style="width:20%" name="role_id[]" value="{$role.role_id}">{$role.role_name}
					 </label>
					 </in>
					 </td>
				   </tr>
			     
			       </volist>
			 </table>
         
		  
		  </div>
			
		
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

