<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public/link" />
    <title>供应商中心</title>
</head>
<body>
<div class="bar bar-header bar-positive">
    <h1 class="title">供应商中心</h1>
</div>
<div style="margin-top: 44px"></div>
<div class="list card">
    <div class="item item-avatar" >
        <img src="http://www.runoob.com/try/demo_source/nin_logo.jpeg">
        <h2>{$user_info.name}</h2>
        <p>{$user_info.addtime|date="Y-m-d H:i:s",###}</p>
    </div>
</div>
<div class="list">
    <a class="item item-icon-left item-icon-right" href="__CONTROLLER__/Order">
        <i class="icon ion-ios-list"></i>
        我的订单
        <i class="icon ion-ios-arrow-forward"></i>
    </a>
    <a class="item item-icon-left item-icon-right" href="__CONTROLLER__/goods">
        <i class="icon ion-ios-printer"></i></i>
        我的商品
        <i class="icon ion-ios-arrow-forward"></i>
    </a>
    <a class="item item-icon-left item-icon-right" href="__CONTROLLER__/password">
        <i class="icon ion-ios-locked"></i>
        修改密码
        <i class="icon ion-ios-arrow-forward"></i>
    </a>

</div>
<div class="content padding">
    <button class="button button-block button-assertive" id="action">退出登录</button>
</div>
</body>
<script>
    $('#action').click(function () {
        $.ajax({
            url: "__MODULE__/Login/loginout",
            type: 'post',
            dataType: 'json',
            data: {},
            success: function (data) {
                layer.open({
                    content: data.msg
                    ,skin: 'msg'
                    ,time: 2 //2秒后自动关闭
                });
                if(data.status == 'success'){
                    window.location.href = "__MODULE__/Login/index";
                }else{

                }
            },
            fail: function (data) {
                layer.open({
                    content: data
                    ,skin: 'msg'
                    ,time: 2 //2秒后自动关闭
                });
                return;
            }
        });
    })
</script>
</html>