
<div class="pageContent">
	<form method="post" action="__URL__/insert/navTabId/listuser/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<div class="pageFormContent" layoutH="60">
			<dl>
				<dt>会员名称：</dt>
				<dd><input type="text" class="alphanumeric required"  style="width:100%" name="user_name"/></dd>
			</dl>
			<dl>
				<dt>姓名：</dt>
				<dd><input type="text" class="alphanumeric required"  style="width:100%" name="true_name"/></dd>
			</dl>
			<dl>
				<dt>性别:</dt>
			<dd>
				<input type="radio" name="user_sex" value="0" checked="">
				&nbsp;保密&nbsp;
				<input type="radio" name="user_sex" value="1">
				&nbsp;男&nbsp;
				<input type="radio" name="user_sex" value="2">
				&nbsp;女&nbsp
			</dd>
				<!--<dd><input type="text"  style="width:100%" name="user_email" value="{$vo.user_email}"/></dd>-->
			</dl>
			<dl>
				<dt>邮箱地址：</dt>
				<dd><input type="text"  style="width:100%" class="required email"  name="user_email"/></dd>
			</dl>
			
			<dl>
				<dt>密码</dt>
				<dd><input id="mypass" type="password" class="required alphanumeric" minlength="6" maxlength="20"  style="width:100%" name="user_pwd"/></dd>
			</dl>
			
			<dl>
				<dt>重复密码：</dt>
				<dd><input type="password" equalto="#mypass" class="required" equalto="#xxxId"  style="width:100%" name="reuser_pwd"/></dd>
			</dl>
			
			
			<p>
			<label>密保问题：</label>
		   <select class="combox required" name="secure_id" id="w_combox_city" ref="w_combox_area" >
		       
			   <option value="all">---问题选择---</option>
			   
			   
			   <volist name="secure" id='vo'>
			     <option value={$vo.secure_id}>{$vo.secure_question}</option>
				 
			   </volist>
			   
	      </select>
          </p>		  				 		  		  
			<dl>
				<dt>密保的答案</dt>
				<dd><input type="text"  style="width:100%" name="user_answer" /></dd>
			</dl>
		<!--<dl>
				<dt><label>出生时间：</label><dt>
				<dd><input type="text" name="user_dates_time" class="date required" readonly="true"/>
				<a class="inputDateButton" href="javascript:;">选择</a>
				<span class="info">yyyy-MM-dd</span></dd>
			</dl>
			<dl>
				<dt>手机号码：</dt>
				<dd><input type="text"  style="width:100%" name="user_cellphone" minlength="6" maxlength="20"/></dd>
			</dl>-->
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

