<!--* 网站后台订单修改视图 * author:莫顺渠 -->
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/listorder/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="order_desc_id" value="{$order_desc_id}"/>
		<div class="pageFormContent" layoutH="60">
				<dt>快递单号：</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="courier_number" value='{$vo.courier_number}'/></dd>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
