
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/listavalue/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="id" value="{$vo.id}"/>
		<div class="pageFormContent" layoutH="60">
		      <dl>
				<!--<dt>ID:</dt>-->
				<dd><input type="hidden" class="required"  style="width:100%" name="avalue_id" value="{$vo.avalue_id}"/></dd>	
			 </dl>
			
			
		     <dl>
				<dt>属性值名称:</dt>
				<dd><input type="text"  style="width:100%" name="avalue_name" value="{$vo.avalue_value}"/></dd>
			</dl>
			
			<p>
				<label>所属属性：</label>
			   <select class="combox required" name="attr_id" id="w_combox_city" ref="w_combox_area" >
				   <option value="all">---属性名---</option>
				   <volist name="attr" id='vo'>
				       <option value="{$vo.attr_id}">{$vo.attr_name}</option>
					 
				   </volist>
				   
			  </select>
          </p>
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

