<!--个人中心左边菜单栏-->

<div class="fl u-1-5">
<div class="mc-menu-area">
    <div class="h"><a href="{:U('Member/index')}" class="button-go-mc" title="个人中心"><span>个人中心</span></a></div>
    <div class="b">
        <ul>
            <li>
                <h3>订单中心</h3>
                <ol>
                    <li id="li-order"><a href="{:U('OrderCenter/index')}" title="我的订单"><span>我的订单</span></a></li>

                </ol>
            </li>
            <li>
                <h3>个人中心</h3>
                <ol>
                    <li id="li-account" ><a href="{:U('PersonCenter/index')}" title="个人信息"><span>个人信息</span></a></li>
                    <li id="li-security"><a href="{:U('PersonCenter/pwd')}" title="密码管理"><span>密码管理</span></a></li>
                    <li id="li-balance" ><a href="{:U('PersonCenter/account')}" title="账户余额"><span>账户余额</span></a></li>
                    <li id="li-myAddress"><a href="{:U('PersonCenter/address')}" title="收货信息"><span>收货信息</span></a></li>
                    <li id="li-enterprise" class="hide"></li>
                </ol>
            </li>
            <li>
                <h3>库存管理</h3>
                <ol>
                    <li id="li-stock"><a href="{:U('Stock/index')}" title="库存列表"><span>库存列表</span></a></li>
                    <li id="li-stock2"><a href="{:U('Stock/log')}" title="入库记录"><span>入库记录</span></a></li>
                    <li id="li-stock3"><a href="{:U('Stock/redeploy_log')}" title="调拨记录"><span>调拨记录</span></a></li>
                    <li id="li-stock4"><a href="{:U('Stock/redeploy')}" title="商品调拨"><span>商品调拨</span></a></li>
                    <li id="li-stock5"><a href="{:U('Stock/add')}" title="商品入库"><span>商品入库</span></a></li>

                </ol>
            </li>
            <li>
                <h3>社区中心</h3>
                <ol>
                    <li id="li-prdRemark" class="current"><a href="{:U('Comment/index')}" title="商品评价"><span>商品评价</span></a></li>
                </ol>
            </li>
        </ul>
    </div>
    <div class="f"></div>
</div>
</div>