<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<link rel="stylesheet" href="__PUBLIC__/Mobile/ionic/css/ionic.min.css" />
<script type="text/javascript" src="__PUBLIC__/Mobile/ionic/js/ionic.js"></script>
<script type="text/javascript" src="__PUBLIC__/Mobile/ionic/js/ionic.bundle.js"></script>
<script type="text/javascript" src="__JQUERY__"></script>
<link rel="stylesheet" href="__PUBLIC__/Mobile/layer/need/layer.css" />
<script type="text/javascript" src="__PUBLIC__/Mobile/layer/layer.js"></script>
