
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/listcustomer/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="customer_id" value="{$vo.customer_id}"/>
		<div class="pageFormContent" layoutH="60">
			<dl>
				<dt>名称:</dt>
				<dd><input type="text" class="required"  style="width:100%" name="customer_name" value="{$vo.customer_name}" /></dd>
			</dl>
			<dl>
				<dt>地区选择:</dt>
				<select class="combox required" name="region_id" id="w_combox_city" ref="w_combox_area" >
				   <option value="0">---地区选择---</option>
				   <foreach name="one" item="one_v" key="one_k" >
					 <option value={$one_v.region_id}  <?php echo $one_v['region_id']==$vo['region_id']?'selected':''; ?> >{$one_v.region_name}省</option>
						<foreach name="two" item="two_v" key="two_k" >
							<if condition="$two_v.parent_id eq $one_v.region_id ">
								<option value={$two_v.region_id} <?php echo $two_v['region_id']==$vo['region_id']?'selected':''; ?>>&nbsp;&nbsp;&nbsp;{$two_v.region_name}市</option>
								<foreach name="three" item="three_v" key="three_k" >
									<if condition="$three_v.parent_id eq $two_v.region_id ">
										<option value={$three_v.region_id} <?php echo $three_v['region_id']==$vo['region_id']?'selected':''; ?>>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$three_v.region_name}区/市</option>
									</if>
								</foreach>
							</if>
						</foreach>
				   </foreach>
				</select>
			   
			</dl>
			
			
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

