
<style>
    #list-pager .current{
        border:1px solid #ccc;
        display:inline-block;
        width:7px;
        height:16px;
        font-weight:400;
        text-align:center;
        line-height:16px;
        font-size:12px;
        padding:0 5px;
        background:#D2D2D2;
        margin-left:5px;
        margin-right:5px;
    }
    #list-pager .num{
        border:1px solid #ccc;
        display:inline-block;
        width:7px;
        height:16px;
        font-weight:400;
        text-align:center;
        line-height:16px;
        font-size:12px;
        padding:0 5px;

        margin-left:5px;
        margin-right:5px;

    }
    #list-pager .prev{
        border:1px solid #ccc;
        display:inline-block;
        width:7px;
        height:16px;
        font-weight:400;
        text-align:center;
        line-height:16px;
        font-size:9px;
        padding-left:3px;
        padding-right:5px;

        margin-left:5px;
        margin-right:5px;
    }

    #list-pager .next{
        border:1px solid #ccc;
        display:inline-block;
        width:7px;
        height:16px;
        text-align:center;
        line-height:16px;
        font-size:9px;
        padding-left:3px;
        padding-right:5px;

        margin-left:5px;
        margin-right:5px;


    }
    .pager {
        text-align: right;
        float: right;
    }
</style>

<include file="Public/persontop"/>
<div class="g">
    <!--面包屑 -->
    <div class="breadcrumb-area icon-breadcrumb fcn">您现在的位置：
        <a href="{:U('Index/index')}" title="首页">首页</a>&nbsp;&gt;&nbsp;
        <span id="personCenter"><a href="{:U('Member/index')}" title="个人中心">个人中心</a></span>
        <span id="pathPoint">&nbsp;&gt;&nbsp;</span>
        <b id="pathTitle">库存列表</b>
    </div>
</div>
<div class="hr-15"></div>

<div class="g">
    <div class="fr u-4-5"><!--栏目 -->
        <div class="part-area clearfix">
            <div class="fl">
                <h1 style="font-size: 18px;">库存列表</h1>
            </div>
        </div>
        <div class="hr-3"></div>
        <!--搜索条件-->
        <div style="font-size: 16px;padding: 10px 0;">
            <form action="__CONTROLLER__/index" method="get">
                选择仓库：
                <select name="customer_id" >
                    <option value="">全部</option>
                    <volist name="customer" id="vo">
                        <option value="{$vo.customer_id}">{$vo.customer_name}</option>
                    </volist>

                </select>
                商品名称：
                <input name="goods_name" value="">
                <button type="submit">搜索</button>
            </form>
        </div>

        <!--库存 -->
        <div class="myOrders-area">
            <div class="myOrders-title-area">
                <div class="b">
                    <table border="1" cellpadding="0" cellspacing="0" id="order-list-head" style="font-size: 14px;">
                        <thead>
                        <tr>
                            <th>库存ID</th>
                            <th>仓库名称</th>
                            <th>商品名称</th>
                            <th>总库存</th>
                            <th>更新时间</th>
                            <th>操作员</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="list" id="vo">
                            <tr style="width: 100%;text-align: center">
                                <td>{$vo.stock_id}</td>
                                <td>{$vo.customer_name}</td>
                                <td style="width: 200px;"> {$vo.goods_name}</td>
                                <td>{$vo.stock_num}</td>
                                <td>{$vo.updata_time|date='Y-m-d H:i:s',###}</td>
                                <td>{$vo.user_name}</td>
                            </tr>
                        </volist>

                        </tbody>
                    </table>
                    <!--分页--------- -->
                    <div class="hr-3"></div>
                    <div class="pager" id="list-pager">
                            {$page}
                    </div>
                </div>
            </div>
            <div class="hr-2"></div>
        </div>


    </div>
    <!--左边菜单 -->
    <include file="Public/personcl"/>
</div>
<div class="hr-60"></div>
<include file="Public/footer"/>
</body></html>